body {
  background-color: #ffffff  ;
  color: #000000;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  font-size: 175%;
    line-height: 90%;
}

P {
  font-size: 100%;
}

.author {
  font-size: 100%;
    line-height: 3em;
}

.story-text {
  font-size: 125%;
    line-height: 1.2;
}

figcaption {
  font-size: 75%;
    line-height: 1.5;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link { color:#ffffff; } /* unvisited */
a:visited { color:#ffffff; } /* visited */
a:hover { color:#000000; } /* mouse over */
a:active { color:#0000ff; } /* selected */
